{
"plugins": [
	["react-css-modules", {
		"webpackHotModuleReloading": true
	}],
	["react-hot-loader/babel"],
	["transform-class-properties"],
	["transform-es2015-destructuring"],
	["transform-object-rest-spread"]


],
"presets": [
    "react",
    [ "env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ]
}