.Person {
	margin:25px;
	margin-left:auto;margin-right:auto;
	width: 90%;
	border: solid rgb(194, 194, 194) 1px;
	box-shadow: 0 5px 20px 2px rgb(173, 173, 173);
	text-align:center;

}
input{
	margin:20px;
}