.App {
  text-align: center;
}

.AppLogo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.AppHeader {
  background-color: #222; 
  height: 150px;
  padding: 20px;
  color: white; 
}

.App-title {
  font-size: 1.5em;
}

.AppIntro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Person {
	width:60%;
	color:yellow
}

.red { color: red;}
.reg { font-weight:normal;}

.App button {
  background-color: grey;
  color: white;
  font: inherit;
  padding: 15px;
  cursor: pointer;          
}

.App button:hover {background-color: yellow;  padding: 30px; }

.App button.red {
  background-color: red;  padding: 20px; 
}

.App button.red:hover {
  background-color: salmon;  padding: 30px; 
}

.Embedded {
    position: relative;
  width:100%;
  height:700px
}